.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;
    height: 100%;
}

.chartbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 95%;
    height: 100%;
}

.chartbox > label {
    font-size: 17px;
    font-weight: 500;
    color: var(--bluegray-500);
    padding-bottom: 20px;
    text-align: center;
}

.chartbox sup {
    color: var(--bluegray-500);
}

.caption {
    font-size: 12px;
    line-height: 160%;
    font-weight: 400;
    color: var(--bluegray-400);
    padding: 20px 0px;
    text-align: left;
}

/* Lighting */
.table {
    border: 1px solid var(--bluegray-350);
    border-spacing: 0;
}
.table thead {
    background-color: var(--bluegray-100);
    white-space: nowrap;
    overflow: hidden;
}
.table th {
    height: 44px;
    padding: 9px 16px;

    font-size: 14px;
    font-weight: 500;
    color: var(--bluegray-500);
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    padding: 10px 12px;
    border-bottom: 1px solid var(--bluegray-350);
}
.table thead > tr:first-child > th:first-child {
    border-right: 1px solid var(--bluegray-350);
}
.table thead > tr:not(:first-child) > th:not(:last-child) {
    border-right: 1px solid var(--bluegray-350);
}
.table thead > tr:last-child > th {
    border-bottom: 1px solid var(--bluegray-350);
}
.table tbody > tr > th {
    border-right: 1px solid var(--bluegray-350);
}
.table tbody > tr > th {
    background-color: var(--bluegray-50);
}
.table tbody td,
.table tbody th {
    height: 56px;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 400;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-bottom: 1px solid var(--bluegray-350);
}
.table tbody td {
    color: var(--bluegray-600);
}
.table tr:last-child > td,
.table tr:last-child > th {
    border-bottom: 0px;
}
.table td:not(:last-child) {
    border-right: 1px solid var(--bluegray-350);
}

.highlight {
    font-weight: 600 !important;
    color: #40a0fc !important;
    background-color: rgba(0, 162, 255, 0.15);
    border-bottom: 2px solid #40a0fc !important;
}

/* humidity */

.humidity {
    position: relative;
}

.humidity-class {
    position: absolute;
    top: 64px;
    right: 0;

    border: 1px solid var(--bluegray-500);

    font-size: 11px;
    line-height: 120%;
}

.humidity-class > h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 2px 0px;
    background-color: var(--bluegray-300);
}

.humidity-class > table {
    border-collapse: collapse;
    max-width: 280px;
}

.humidity-class th {
    height: 20px;
    padding: 0px 8px;
    text-align: left;
    border-top: 1px solid var(--bluegray-500);
    border-bottom: 1px solid var(--bluegray-500);
    background-color: var(--bluegray-200);
    color: var(--bluegray-600);
    font-weight: 500;
}
.humidity-class th:first-child {
    text-align: center;
    border-right: 1px solid var(--bluegray-500);
}
.humidity-class td {
    height: 32px;
    padding: 0px 8px;
    border-bottom: 1px solid var(--bluegray-500);
    color: var(--bluegray-600);
}
.humidity-class td:first-child {
    text-align: center;
    border-right: 1px solid var(--bluegray-500);
}
.humidity-class tr:last-child > td {
    border-bottom: 0px;
}

/* .humidity-class tr:first-child > td:first-child {
    font-weight: 500;
    background-color: rgba(0, 142, 251, 0.5);
}
.humidity-class tr:nth-child(2) > td:first-child {
    font-weight: 500;
    background-color: rgba(0, 227, 151, 0.5);
}
.humidity-class tr:nth-child(3) > td:first-child {
    font-weight: 500;
    background-color: rgba(255, 175, 26, 0.5);
}
.humidity-class tr:nth-child(4) > td:first-child {
    font-weight: 500;
    background-color: rgba(255, 69, 96, 0.5);
}
.humidity-class tr:last-child > td:first-child {
    font-weight: 500;
    background-color: rgba(120, 93, 208, 0.5);
} */
